<article class="d-flex flex-column align-items-center">
    <div class="swap swap-flip mb-2">
        <!-- this hidden checkbox controls the state -->
        <input type="checkbox" [id]="'swapCheckbox' + Card?.CardId" class="invisible" />
        <div class="swap-off card border-warning card-shaped" style="height: 16rem" id="cardFront">
            <div class="card-header border-warning text-bg-warning">Front</div>
            <div class="card-body bg-warning-subtle rounded-bottom-2 overflow-auto">
                <p class="card-text">
                    {{ Card?.Front }}
                </p>
            </div>
        </div>
        <div class="swap-on card border-success card-shaped" style="height: 16rem" id="cardBack">
            <div class="card-header border-success text-bg-success">Back</div>
            <div class="card-body bg-success-subtle rounded-bottom-2 overflow-auto">
                <p class="card-text">
                    {{ Card?.Back }}
                </p>
            </div>
        </div>
    </div>
    <button (click)="flipCard()" class="btn btn-link btn-lg ps-1">
        <i class="bi bi-arrow-repeat"></i>
        Flip
    </button>
</article>