
<div class="container-md bg-success-subtle p-5 rounded-4 my-3">

    <div class="row row-cols-1 row-cols-lg-2">

        <div class="col">

            <div class="d-flex flex-column justify-content-center align-center h-100">

                <div class="ee-custom-caption-width">
                    <h5 class="fs-1">Break the study barrier.</h5>
                    <p class="mb-4">Make learning easy, fun and fast with flashcards.</p>
                   <a [routerLink]="['/subjects/private']" class="btn btn-primary fs-5 py-2 px-4 mb-4 shadow">
                        {{(isAuthenticated | async) ? 'Welcome Back' : 'Get Started'}}
                    </a>
                </div>

            </div>

        </div>

        <div class="col">

            <div id="carouselCaptions" class="carousel slide carousel-fade mb-2">

                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <img src="assets/images/pexels-andrea-piacquadio-3765030.jpg" class="carousel-image-home" alt="Landing page happy student with laptop and a drink">
                    </div>

                    <div class="carousel-item">
                        <img src="assets/images/pexels-william-fortunato-6140697.jpg" class="carousel-image-home" alt="carousel image share your decks three happy students">
                        <div class="carousel-caption d-md-block shadow p-0">
                            <h5 class="d-none d-md-block fs-3 p-3">Share your decks.</h5>
                            <h5 class="d-md-none fs-4 p-2">Share your decks.</h5>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="assets/images/laptop-3087585_1920.jpg" class="carousel-image-home" alt="carousel image laptop frustrated student that bites a pencil">
                        <div class="carousel-caption d-md-block shadow p-0">
                            <h5 class="d-none d-md-block fs-3 p-3">Make learning simple again.</h5>
                            <h5 class="d-md-none fs-4 p-2">Make learning simple again.</h5>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <img src="assets/images/pexels-andrea-piacquadio-3761504.jpg" class="carousel-image-home" alt="carousel image happy student that won the lottery or probably something minor but a small step forward is the way to go">
                        <div class="carousel-caption d-md-block shadow p-0">
                            <h5 class="d-none d-md-block fs-3 p-3">Get ahead.</h5>
                            <h5 class="d-md-none fs-4 p-2">Get ahead.</h5>
                        </div>
                    </div>

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-black rounded-2" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-black rounded-2" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

                <div class="carousel-indicators ee-indicators">
                    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>

            </div>

        </div>

    </div>

</div>